<div class="row">
    <!-- Bridge labz Employees Table display here -->
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-user fa-fw"></i> Bridgelabz Employees</h3>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover table-striped">
                        <thead>
                            <tr>
                              <th> Sr No</th>
                                <th> Name</th>
                                <th> Mobile Number</th>
                                <th> Email Id</th>
                                <th> Engg ID</th>
                                <th> Father's Name</th>
                                <th> Fathers Mobile Number</th>
                                <th> Mumbai Address</th>
                                <th> Occupation</th>
                                <th> Annul Salary</th>
                                <th> Date of Birth</th>
                                <th> Permanent Address</th>
                                <th> Range</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="data in obj">
                              <td ng-bind="data['Sr No']"></td>
                              <td ng-bind="data['Name']"></td>
                              <td ng-bind="data['Mobile Number']"></td>
                              <td ng-bind="data['Email Id']"></td>
                              <td ng-bind="data['Engg ID']"></td>
                              <td ng-bind="data['Name']"></td>
                              <td ng-bind="data['Fathers Mobile Number']"></td>
                              <td ng-bind="data['Mumbai Address']"></td>
                              <td ng-bind="data['Occupation']"></td>
                              <td ng-bind="data['Annul Salary']"></td>
                              <td ng-bind="data['Date of Birth']"></td>
                              <td ng-bind="data['Permanent Address']"></td>
                              <td ng-bind="data['Range']"></td>
                            </tr>

                        </tbody>
                    </table>
                </div>
                <div class="text-right">
                    <a href="">View All BridgeLabz Employees <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
